{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>default</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{todo_item.name}}</h1>
            <p><a href="{% url 'todo_list_update' todo_item.id %}">Edit</a><p/>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in todo_item.items.all %}
                        <tr>
                            <td>{{i.task}}</td>
                            <td>{{i.due_date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
