{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>default</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list %}
                        <tr>
                            <td>{{item.name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>





{% comment %} <tr>
    <td>Reminders</td>
    <td><!-- Number of items for Reminders --></td>
</tr>
<tr>
    <td>Grocery List</td>
    <td><!-- Number of items for Grocery List --></td>
</tr> {% endcomment %}
